Chameleon==2.22
dill==0.2.4
eventful==0.3
httplib2==0.9.1
Mako==1.0.2
MarkupSafe==0.23
PasteDeploy==1.5.2
pyechonest==9.0.0
Pygments==2.0.2
pyramid==1.5.7
pyramid-chameleon==0.3
pyramid-debugtoolbar==2.4.1
pyramid-mako==1.0.2
redis==2.10.3
repoze.lru==0.6
requests==2.7.0
simplejson==3.8.0
translationstring==1.3
venusian==1.0
waitress==0.8.10
WebOb==1.5.0b0
zope.deprecation==4.1.2
zope.interface==4.1.2

-e .
