<div class="column-group gutters">
    <div class="all-100">
        <h2>About Playcert</h2>

        <p>
            This project was created with the purpose of showing the concerts that will happen during the following week around the current location, or around a chosen location, as well as providing a spotify playlist based on these concerts.
        </p>

        <p>
            The source code for this project is freely available at github: <a href="https://github.com/Shemahmforash/playcert">https://github.com/Shemahmforash/playcert</a> so feel free to fork it.
        </p>

        <p>
        If you have any doubt or suggestion, don't hesitate in reaching me through twitter: <a href="https://twitter.com/shemahmforash/">@shemahmforash</a>.
        </p>
    </div>
</div>