    <div class="column-group gutters">
        <div class="all-100">
            <h2>{{location}}</h2>
        </div>
    </div>
    <div class="column-group gutters">
        <div class="all-50 small-100 tiny-100">
            <h3>Events</h3>
            <ul>
                <li ng-repeat="event in events">
                    {{ event.when }} - {{ event.title }} at {{event.venue}}

                </li>
            </ul>
        </div>
        <div class="all-50 small-100 tiny-100">
            <h3>Playlist</h3>
            <iframe src="{{ playlist }}" style="width:400px; height:400px;" frameborder="0" allowtransparency="true">    </iframe>
        </div>
    </div>
